<h1>Video Galaxy</h1>

<div id="main">
<button class="btn btn-primary" ng-click="home.getAllVideos()">All Videos</button>
<button class="btn btn-primary" ng-click="home.getTopTenViewed()">Most Viewed</button>
<button class="btn btn-primary" ng-click="home.getTopTenVotes()">Most Votes</button>
<h2>Collection</h2>
<br />
<!-- Table that displays if "All Videos" button is pressed -->
<section ng-if="home.allVideos">
  <table align="center">
    <thead>
      <tr>
        <th>Title</th>
        <th>Like</th>
        <th>Dislike</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="video in home.videos">
        <td><a href="{{video.attributes.url}}" target="_blank" ng-click="home.watchVideo(video.id)">{{video.attributes.title}}</a></td>
        <td><button class="btn-sm btn-primary" ng-click="home.voteUp(video)">Vote Up</button></td>
        <td><button class="btn-sm btn-warning" ng-click="home.voteDown(video)">Vote Down</button></td>
        <td><button ng-if="home.showEdit" class="btn-sm btn-info" ng-click="home.selectVideoToEdit(video)">Edit</button></td>
        <td><button ng-if="home.showDelete" class="btn-sm btn-danger" ng-click="home.deleteVideo(video.id)">X</button></td>
      </tr>
    </tbody>
  </table>
</section>
<!-- Table that displays if "Most Viewed" button is pressed -->
<section ng-if="home.topTenViewed">
  <table align="center">
    <thead>
      <tr>
        <th>Title</th>
        <th>Views</th>
        <th>Like</th>
        <th>Dislike</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="video in home.videos | limitTo: 10">
        <td><a href="{{video.attributes.url}}" target="_blank" ng-click="home.watchVideo(video.id)">{{video.attributes.title}}</a></td>
        <td><span>{{video.attributes.view_tally}}</span></td>
        <td><button class="btn-sm btn-primary" ng-click="home.voteUp(video)">Vote Up</button></td>
        <td><button class="btn-sm btn-warning" ng-click="home.voteDown(video)">Vote Down</button></td>
        <td><button ng-if="home.showEdit" class="btn-sm btn-info" ng-click="home.selectVideoToEdit(video)">Edit</button></td>
        <td><button ng-if="home.showDelete" class="btn-sm btn-danger" ng-click="home.deleteVideo(video.id)">X</button></td>
      </tr>
    </tbody>
  </table>
</section>
<!-- That that displays if "Most Votes" button is pressed -->
<section ng-if="home.topTenVotes">
  <table align="center">
    <thead>
      <tr>
        <th>Title</th>
        <th>Votes</th>
        <th>Like</th>
        <th>Dislike</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="video in home.videos | limitTo: 10">
        <td><a href="{{video.attributes.url}}" target="_blank" ng-click="home.watchVideo(video.id)">{{video.attributes.title}}</a></td>
        <td><span>{{video.attributes.vote_tally}}</span></td>
        <td><button class="btn-sm btn-primary" ng-click="home.voteUp(video)">Vote Up</button></td>
        <td><button class="btn-sm btn-warning" ng-click="home.voteDown(video)">Vote Down</button></td>
        <td><button ng-if="home.showEdit" class="btn-sm btn-info" ng-click="home.selectVideoToEdit(video)">Edit</button></td>
        <td><button ng-if="home.showDelete" class="btn-sm btn-danger" ng-click="home.deleteVideo(video.id)">X</button></td>
      </tr>
    </tbody>
  </table>
</section>
<!-- Various inputs for adding, editing, and deleting a video -->
<br />
<input id="longInput" ng-if="home.editingVideo" type="text" ng-model="home.editVideo.title" />
<button ng-if="home.editingVideo" class="btn btn-success" ng-click="home.saveChanges()">Save Changes</button>
<button ng-if="home.editingVideo" class="btn btn-danger" ng-click="home.selectVideoToEdit()">Cancel</button>
<input ng-if="!home.editingVideo" type="text" placeholder="Video Title" ng-model="home.video.title" />
<input ng-if="!home.editingVideo" type="text" placeholder="Video Link" ng-model="home.video.url" />
<button ng-if="!home.editingVideo" class="btn btn-success" ng-click="home.addVideo()">Add Video</button>
<button ng-if="!home.editingVideo" class="btn btn-info" ng-click="home.showEditButtons()">Edit Videos</button>
<button ng-if="!home.editingVideo" class="btn btn-danger" ng-click="home.showDeleteButtons()">Delete Videos</button>
</div>
