/*Elements*/

body {
  background: #f5f5f5;
}

section {
  margin: 0 auto;
  text-align: center;
  max-height: 400px;
  overflow-y: scroll;
}

p, span, li, a, th {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Dosis', sans-serif;
  color: #19b6c6;
  text-align: center;
}

h2 {
  font-family: 'Dosis', sans-serif;
  text-decoration: underline;
}

button {
  /*float: right;*/
}

button:hover {
  cursor: pointer;
}

th {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  /*float: left;*/
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

/*Classes*/

.videoList {
  overflow-y: scroll;
  height: 280px;
}

/*IDs*/

#main {
  margin: 0 auto;
  text-align: center;
}
